@font-face {
    font-family: 'TheSansArabic';
    src: url(fonts/TheSansExtraBoldExtraBold.ttf) format('truetype') font-weight-ExtraBold,
         url(fonts/THESANSARABIC-BOLD.ttf) format('truetype') font-weight-Bold,
         url(fonts/TheSansArabic-ExtraLight.otf) format('truetype') font-italic font-weight-ExtraLight,
         url(fonts/TheSansArabic-SemiBold.otf) format('truetype') font-italic font-weight-SemiBold,
         url(fonts/TheSansArabic-Light.otf) format('truetype') font-italic font-weight-Light; }

 body{
        background-image: url(img/background2.png);
        background-size: cover;
        height:100%;
        width:100%;
         }
.text-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}   

#empty{
    width: 200px;
}
         
h2{ font-size: 35px;
    font-family: 'TheSansArabic';
    font-style: normal;
    font-weight: 520;
    color: #008C9D;
    line-height: normal;}
.img-wrapper{
display: flex;
position: relative;
flex-direction: column;
align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

#rotated{
    z-index:100;
     scale:0%;
}

button{
    background-color: #29B3B4;
    width: 154px;
    height: 66px;
    border-radius: 7px;
    border: none;
    color: #FFF;
font-size: 23px;
font-family: 'TheSansArabic';
font-style: normal;
font-weight: 520;
line-height: normal;
    
}

#iphone{
    position: absolute;
    /* visibility: hidden; */
    z-index:1000;
    scale:0%;


}

